@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translate3d(0,-20px,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes headerfade{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes sidebar{
    0%{
        transform: translate3d(-0px,0,0);
    }
    50%{
        transform: translate3d(-10px,0,0);
    }
    100%{
        transform: translate3d(-0px,0,0);
    }
}

@keyframes fadeDown{
    0%{
        opacity: 0;
        transform: translate3d(0,-50px,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes pulse{
    0%{
        transform: scale3d(1,1,1);
    }
    50%{
        transform: scale3d(1.15,1.15,1.15);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

@keyframes rotateIn{
    0%{
        transform-origin: center;
        transform: translate3d(0,0,0);
        opacity: 1;
    }
    50%{
        transform-origin: center;
        transform: rotate3d(0,0,1,-200deg);
        opacity: 1;
    }
    100%{
        transform-origin: center;
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes wave{
    0%{
        margin-left: -1600px;
    }
    100%{
        margin-left: 0;
    }
}

@keyframes head{
    0%{
        opacity: 0;
        transform: translate3d(-100%,0,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
