@import 'common.scss';

//업다운
.up_down{
    position: fixed; z-index: 15; right: 40px; bottom: 140px; cursor: pointer;
    .up{
        transition: 0.5s;
        > img{margin-top: 10px;}
    }
    .down{
        > img{margin-top: 10px;}
    }
}
.up_down.up{bottom: 155px; position: fixed;}
.up_down.down{position: absolute; top: 2380px;}

//상단 배너
.top_banner{
    background-color: #FCFCC3;
    margin: 0 auto; width: 100%; min-width: 1280px; height: 80px;
    >.container{
        max-width: 1280px; position: relative;
        img{margin: 0 auto;}
        .btn{position: absolute; right: 0; top: 20px; width: 38px; height: 38px; background: url(../img/main_top_banner_close_btn.png) no-repeat center; background-size: 76px 76px; cursor: pointer;}
    }
}

// 사이드메뉴
.sub{
    width: 180px; position: fixed; right: 0; top: 130px; z-index: 99; transition: 0.5s ease-in-out 0.3s; 
    .right_menu{
        position: absolute; top: 35%; left: -70px; z-index: -1;
        img{}
    }
    .right_menu::before{content: ">>"; display: block; position: absolute; bottom: -20px; left: 25px; font-size: 20px; font-family: 'Poppins', sans-serif; animation: sidebar 3s 1s linear infinite; }

    .right_box{
        width: 180px; background: #fff; border-top-left-radius: 15px; border-bottom-left-radius: 15px; box-shadow: 0 0 7px 1px rgb(0 0 0 / 10%);
        .newlist,.ranklist{
            h2{
                width: 100%; font-size: 17px; text-align: left; position: relative; padding: 30px 0 18px 0; margin: 0 0 0 40px;
                a{}
                img{padding: 7px 0 0 14px;}
            }

            .newlist_img{
                padding: 0 0 20px 0; width: 100px; margin: 0 auto; overflow: hidden;
                ul{
                    display: flex;
                    li{
                        display: inline-block; text-align: right; width: 100px; height: 100px; overflow: hidden; border-radius: 100%; background-color: #f5f5f5;
                        img{width: 100%;}
                    }
                }
            }

            .ranklist_img{
                padding: 0 0 20px 0; width: 100px; margin: 0 auto; overflow: hidden;
                ul{
                    display: flex;
                    li{
                        display: inline-block; text-align: right; width: 100px; height: 100px; overflow: hidden; border-radius: 100%; background-color: #f5f5f5;
                        img{width: 100%;}
                    }
                }
            }

            .newlist_status, .ranklist_status{
                width: 120px; height: 1px; background-color: #E9E9E9; position: relative; margin: 0 auto;
                .status{
                    height: 1px; background-color: #EB1C26; position: absolute; top: 0; left: 0;
                }
            }
        }

        .menu1,.menu2,.menu3,.menu4{
            font-weight: bold; width: 100%; font-size: 17px; text-align: left; position: relative; padding: 25px 0 0 0; margin: 0 0 0 33px;
            a{font-size: 17px;}
            img{padding: 7px 0 0 14px;}
        }

        .banner{
            text-align: center; padding: 23px 0 35px 0; 
            img{width: 110px;}
        }
    }

    // .right_menu::after{content: "<<"; display: block; position: absolute; bottom: -20px; left: 25px; font-size: 20px; font-family: 'Poppins', sans-serif; display: none;}
}
.sub.active{right: -180px;}
.sub.active .right_menu::before{content: "<<";}

// 헤더 영역
main{
    min-width: 1280px; background-color: #fff;
    //헤더영역
    #header{
        width: 100%; margin: 0 auto; box-shadow: 0px 1px rgb(0 0 0 / 10%);
        min-width: 1280px;
        > .container{
            overflow: visible; height: 120px;
            .head_inner{
                max-width: 1520px; min-width: 1280px; margin: 0 auto; transition: 0.3s; border-radius: 0 0 45px 45px; height: 0; position: relative; z-index: 9998;
                .header{
                    max-width: 1280px; position: relative; z-index: 2; height: 120px;
                    @include flex(space-between); margin: 0 auto;
                    .logo{
                        > img:nth-of-type(1){display: none;}
                        > img:nth-of-type(2){display: block;}
                    }
                    .top_menu{
                        >ul{
                            @include flex(space-between);
                            >li{
                                position: relative; height: 120px; line-height: 120px;
                                >a{font-size: 18px; font-weight: 400; padding: 0 15px; color: #1a1a1a; line-height: 120px; transition: 0.3s; height: 120px;}
                                >.sub{ 
                                    position: fixed; left: 0; top: 210px; width: 100%; max-width: 1280px; min-width: 1152px; padding: 50px 0 40px; margin: 0 auto; display: none;
                                    >.box{
                                        float: left; position: relative;
                                        >ul{
                                            display: inline-block; margin: 0 27px 0 0 ; border-right: 1px solid #ebebeb; position: relative; height: 100%; padding: 0 27px 0 0;
                                            >li{
                                                line-height: 42px; font-size: 16px;
                                                >a{font-size: 16px; line-height: 38px; color: #5a5a5a; position: relative;}
                                                .arrow::after{opacity : 0; content: ""; display: block; background: url('../img/icon_topmenu_arrow.png') no-repeat center center; background-size: 8px 13px; position: absolute; left:140px; width: 8px; height: 42px; top: 50%; transform: translateY(-50%); transition: 0.3 ease-in-out; visibility: hidden;}
                                                >ul{
                                                    height: 410px; position: absolute; top: 0; left: 180px; padding:  0 30px 0 40px; overflow-y: auto; display: none;
                                                    >li{
                                                        a{font-size: 16px; line-height: 42px; color: #5a5a5a; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
                                                    }
                                                }
                                                >ul.on{display: block;}
                                                
                                                >ul::-webkit-scrollbar{width: 2px; height: 100%;}
                                                >ul::-webkit-scrollbar-thumb{background-color: rgba(52,52,52,0.75); max-height: 300px; border-right: 15px; height: 100%;}
                                                >ul::-webkit-scrollbar-track{background-color: rgba(0,0,0,0.15); border-right: 15px;}
                                            }
                                            >li.on .arrow::after{content: ''; left: 135px; height: 42px; width: 8px; opacity: 1; visibility: visible; transition: 0.5s ease-in-out;}
                                            >li.on ul{display: block;}
                                        }
                                    }
                                    .event{padding: 0;}
                                    >.box_banner{
                                        float: right; padding: 8px 0 0 0; text-align: center;
                                        >ul{
                                            display: flex;
                                            >li{
                                                img{border-radius: 15px; width: 300px;}
                                                p{width: 300px; line-height: 50px; font-size: 15px; white-space: nowrap; text-overflow: ellipsis;}
                                            }
                                            >li:last-child{margin: 0 0 0 30px;}
                                        }
                                    }
                                }
                                .small{width: 145px; padding: 30px 0 20px 0; background:#fff; border-radius: 0 0 20px 20px; top: 120px; position: absolute; font-size: 18px; text-align: center !important; border: none; min-width: 145px; max-width: 145px; transform: translateX(-50%); left: 50%;}
                                .small > .box {float: none;}
                                .small > .box > ul {border: none; margin: 0; padding: 0; text-align: center;}

                                >a::before{content: ''; display: block; position: absolute; width: 0%; bottom: 0; left: 17px; background-color: #ff3d44; visibility: hidden; transition: 0.3s; height: 3px;}
                            }
                            >li:hover a::before{width: calc(100% - 35px); visibility: visible;}
                            >li:hover .sub{visibility: visible;}
                        }
                    }
                    .member{
                        > img{position:absolute; top: 0; right: 0;}
                        .logo{
                            display: flex;
                            .mypage{
                                margin-left: 0;
                            }

                            .cart{
                                padding-left: 35px; position: relative;
                                .count{
                                    font-family: 'Poppins', sans-serif; position: absolute; top: 0px; right: -7px; width: 19px; height: 19px; border-radius: 50px; line-height: 19px; font-size: 12px; font-weight: 700; text-align: center; background-color: #ff3d44; color: #fff; transition: 0.3s ease-in-out;
                                }
                            }

                            .search{
                                padding-left: 35px;
                            }

                            img:first-child{display: block;}

                            &.active img:first-child{display: none;}
                        }
                    }
                }
            }

            // .header_bg{max-width: 1520px; min-width: 1280px; margin: 0 auto; transition: 0.3s ease-in-out; border-radius: 0 0 45px 45px; background-color: #fff; border: 1px solid #000; visibility: visible; height: 0px; transform: translateY(-120px); position: relative; z-index: -1; border: 1px solid #000;}
            // .header_bg.active{height : 120px; box-shadow: 0 0 7px 1px rgb(0 0 0 / 10%); visibility: visible;}
            // .header_bg.active .head_inner{color: #1a1a1a;}

            .head_inner.active #header{box-shadow: none;}
            .head_inner.active{background-color: #fff; color: #1a1a1a; box-shadow: 0 0 7px 1px rgb(0 0 0 / 10%); height: 120px;}
            .head_inner.active.over{height: 750px;}
            .head_inner.active.over1{height: 580px;}
            .head_inner.active.over2{height: 650px;}
            .head_inner.active .top_menu ul li a{color: #1a1a1a;}
        }
    }
}

// 메인 배너 영역
.con_top_banner{
    margin: 0 auto; height: 225px; width: 1280px;
    .container{
        .inner{
            img{border-radius: 20px; margin-top: 30px;}
        }
    }
}

// 사이드영역
.contents{
    margin: 0 auto; width: 1280px;
    .side_left{
        width: 210px; float: left; margin: 0 20px 0 0;
        .side_tit{
            a{font-size: 24px; font-weight: 700; color: #3a3a3a; padding-bottom: 15px; line-height: 24px; border-bottom: 1px solid #1a1a1a;}
        }
    
        .side_con{
            >ul{
                margin: 30px 0;
                >li{
                    display: block; font-size: 16px; position: relative; 
                    a{font-weight: 400; color: #3a3a3a; line-height: 40px;}
                    
                    a::after{content: ""; display: none; width: 5px; height: 5px; background-color: #ff3d44; border-radius: 50%; margin-left: 3px; transition: all 3s;}
                    .sub_arrow{width: 40px; height: 40px; position: absolute; right: 0; top: 0; cursor: pointer; background: url(../img/icon_arrowdown.png) no-repeat 98% center;}
                    
                    .innerul{
                        padding: 10px 10px 20px; margin: 0; display: none;
                        >li{
                            transition: 0.3s ease-in-out;
                            a{display: block; padding: 8px 0; height: 36px; line-height: 20px; font-size: 16px; color: #8a8a8a;}
                            a::after{content: ""; display: none; width: 5px; height: 5px; background-color: #ff3d44; border-radius: 50%; margin-left: 3px; transition: all 3s;}
                        }
                        >li:hover a{color: #000;}
                        >li:hover a::after{display:  inline-block;}
                    }
                }
                >li.on a::after{display: inline-block;}
            }
        }
        .side_banner{
            img{}
        }
    }

// 컨텐츠영역
    .side_right{
        float: right; max-width: 960px;
        .top_sec{
            height: 40px; margin: 0 15px 40px;
            .filter{
                float: left; position: relative;
                a{color:#3a3a3a; display:block; border: 1px solid #e5e5e5; border-radius: 10px; width: 130px; padding: 0 15px; height: 38px; font-size: 16px; line-height:36px; background: #fff url(../img/icon_searchfilter_off.png) 88% center no-repeat; top: 0; left: 0; position: absolute;}

                .off{color: #ff3d45; border: 1px solid #ff3d45; background: #fff url(../img/icon_searchfilter_on.png) 88% center no-repeat;}
            }

            .list{
                float: right; position: relative; height: 40px; z-index: 1; overflow: hidden; border-radius: 10px; width: 130px; border: 1px solid #e5e5e5;
                ul{
                    position: absolute; top: 0; right: 0; z-index: 0; background-color: #fff; border-radius: 10px; width: 130px;
                    li{
                        padding: 0 14px; opacity: 1;
                        a{font-size: 16px; color: #3a3a3a; font-weight: 400px !important; display: block; padding: 7px 0;}
                    }
                    li:nth-of-type(1){background: url(../img/icon_arrowdown.png) no-repeat 98% center; background-position: right 10px center;}
                    
                    li:hover{background-color: #f8f8f8; border-radius: 10px;}
                }
            }
            .list.on{overflow: visible; height: auto; border: none;}
            .list.on ul{border: 1px solid #e5e5e5;}
        }

        .filter_option{
            margin: 0 15px; position: relative; display: none; padding-bottom: 40px;
            table{
                width: 100%; border-top: 1px solid #1a1a1a;
                tr{
                    th{width:160px; padding: 25px 0; border-bottom: 1px solid #e5e5e5; font-size: 16px; color: #3a3a3a; text-align: left; text-transform: uppercase; font-weight: 500;}
                    td{
                        padding: 20px 0; border-bottom: 1px solid #e5e5e5; font-size: 0; width: auto;
                        ul{
                            li{
                                display: inline-block; width: 14%; margin: 5px 0; 
                                input{background: url(../img/join_input_off.gif) no-repeat; width: 20px; height: 20px; border: 0; vertical-align: middle; appearance: none;}
                                a{
                                    display: inline-block; height: 20px; padding: 0 10px; line-height: 20px; color: #707070; cursor: pointer; font-size: 15px; vertical-align: top;
                                    span{display: none;}
                                }
                            }
                            li.on input{background: url(../img/join_input_on.gif) no-repeat;}
                        }
                    }
                }
            }
        }

        .filter_select{
            padding: 20px 0 40px 110px; position: relative; transition: 1s; visibility: hidden; display: none;
            #reset{color: #3a3a3a; background: url(../img/icon_searchfilter.png) no-repeat center left; font-size: 14px; line-height: 20px; padding: 0 0 0 20px; border: none; position: absolute; left: 15px; top: 32px;}
            .select_list{
                display: inline-block;
                li{
                    display: inline-block; line-height: 1; margin: 5px 0 5px 10px; padding: 10px 5px 10px 10px; border: 1px solid #e5e5e5; border-radius: 10px; vertical-align: top; font-size: 14px; color: #3a3a3a; background: #f6f6f6;
                    a{}
                    .select_del{width: 22px; height: 22px; margin: -5px 0; outline: none; vertical-align: middle; background: url(../img/btn_search_delete2.gif) no-repeat center center; border: none;}
                }
            }
        }
        .filter_select.on{visibility: visible; display: block;}

        .box{
            ul{
                display: flex; flex-wrap: wrap;
                li{
                    width: 33.3333%; margin: 0 0 60px;
                    .box_inner{
                        margin: 0 auto; width: 300px; 
                        .img_sec{
                            position: relative; width: 300px; transition: 0.3s ease-in-out;
                            img{background-color: #f5f5f5; border-radius: 20px;}
                            > span{background-image: url('../img/icon_202012111853517100.png'); position: absolute; bottom: 15px; right: 15px; width: 38px; height: 38px; z-index: 1;}
                        }

                        .tit_sec{
                            padding: 25px 5px; margin: 0 auto;
                            > span{font-size: 16px; color: #6a6a6a; margin-bottom: 10px; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
                            .sub_sec{
                                .hash{font-size: 12px; color: #999999; margin-bottom: 3px; overflow: hidden; text-overflow: ellipsis; height: 18px; display: block; line-height: 18px; display: block;}
                                .discount{font-size: 18px; font-weight: 500; color: #3a3a3a; margin: 15px 3px 3px 0; display: inline-block;}
                                .origin_price{font-size: 13px; font-weight: 400; color: #999; margin: 15px 3px 3px 0; display: inline-block;}
                                .per{color: #ff3d44; padding: 0 0 3px 3px; display: inline-block; font-size: 18px;}
                            }
                        }

                        .img_sec:hover img{background-color: rgba(0,0,0,0.1);}
                    }
                }

                li:nth-of-type(n+13){display: none;}
            }
        }

        .page{
            margin-bottom: 60px; display: flex; justify-content: center; cursor: pointer;
            a{
                img{opacity: 0.6;}
            }

            ul{
                margin: 0 20px; display: flex;
                li{text-align:center; margin: 0 5px; font-size: 16px; line-height: 32px; color: #5a5a5a; font-family: 'Poppins', sans-serif;  width: 33px; height: 33px; border-radius: 50%; font-weight: 400;}
                
                li.active{background-color: #ff3d44; color: #fff;}
            }
        }
    }

}
.contents::after{content: ''; display: block; clear: both;}
